.chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: right;
    z-index: 1000;
}

.chatbot-toggle {
    background-color: #ff914d;
    border: none;
    padding: 10px 15px;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    cursor: pointer;
}

.chatbot-box {
    width: 300px;
    height: 400px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 10px;
}

.chatbot-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

.message.user {
    text-align: right;
    color: blue;
}

.message.bot {
    text-align: left;
    color: rgb(42, 117, 167);
}

.chatbot-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chatbot-input input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
}

.chatbot-input button {
    background-color: #4CAF50;
    border: none;
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}
